.dialogs {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 2fr;

}

.dialogsItem {

}

.messagesItem {
    padding: 10px;
    font-family: 'Shantell Sans';
    color: #032d62;
}

.dialogsItem a {

    text-decoration: none;
}

.dialogsItem .active a {
    color: gold;
}

.textarea{

}



