.dialogs {
    display: grid;
    grid-template-rows: 80px 1fr;
    grid-template-columns: 2fr 10fr;

}

.dialogsItem {
    padding: 10px;
}

.messagesItem {
    padding: 10px;
    font-family: 'Shantell Sans';
    color: #032d62;
}

.dialogsItem a {

    text-decoration: none;
}

.dialogsItem .active a {
    color: gold;
}



